<h2>Edit email</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_email_path(@conn, :update, @user, @email) %>

<%= link "Back", to: user_email_path(@conn, :index, @user) %>
