Hi<%= if (@user.first_name), do: " #{@user.first_name}"%>,

Use the following link to validate your email address:
<%= @url %>magic/email/<%=@link%>

Regards
The vutuv team

--
vutuv is a service provided by AMOOMA GmbH. https://www.amooma.de
AMOOMA GmbH - Bachstr. 124 - 56566 Neuwied - Germany
Geschäftsführer: Stefan Wintermeyer, Handelsregister Montabaur B14998
Updates about vutuv: https://twitter.com/vutuv
