<%= email_greeting(@user) %>,

please use the following PIN to login on vutuv:

  <%=@pin%>

Thanks for using vutuv! If you like our service, feel free to share us
with your friends!

<%= render "_signature_en.text" %>

PS: The PIN expires after 30 minutes. You can always get a new one by
returning to vutuv and logging in.

<%= render "_footer.text" %>
