<%= email_greeting(@user) %>,

zum Einloggen bitte den folgenden PIN eingeben:

  <%= @pin %>

Vielen Dank das Sie vutuv benutzen!

<%= render "_signature_de.text" %>

PS: Der PIN verfällt nach 30 Minuten. Sie können aber jederzeit einen
neuen unter https://www.vutuv.de/sessions/new abrufen.

<%= render "_footer.text" %>
