<%= email_greeting(@user) %>,

Thank you for joining vutuv. Here is the PIN you need to access:

  <%=@pin%>

You can always get a new one by returning to vutuv and logging in. You find
the login link in the top left corner of each page.

If you like our service, please share us with your friends and business
partners!

<%= render "_signature_en.text" %>

<%= render "_footer.text" %>
