Hi,

vutuv is ready for you to login. Here's your magic link:
<%= @url %>magic/login/<%=@link%>

Thank you for using vutuv. Please tell your friends about it.

Regards
Your vutuv team

--
vutuv is a service provided by AMOOMA GmbH. https://www.amooma.de
AMOOMA GmbH - Bachstr. 124 - 56566 Neuwied - Germany
Geschäftsführer: Stefan Wintermeyer, Handelsregister Montabaur B14998
Updates about vutuv: https://twitter.com/vutuv
