<html lang="en">
<p>Hello @user!</p>
<p>Please click on the following link to log into vutuv.de.</p>
<p><a href = "<%= @url %>magic/login/<%=@link%>"><%= @url %>magic/login/<%=@link%></a></p>
<p>Regards</p>
<p>A Robot</p>
</html>
