<h2>Show email</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @email.value %>
  </li>

  <li>
    <strong>Md5sum:</strong>
    <%= @email.md5sum %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @email.user_id %>
  </li>

</ul>

<%= link "Edit", to: user_email_path(@conn, :edit, @user, @email) %>
<%= link "Back", to: user_email_path(@conn, :index, @user) %>
