<%= form_for @changeset, @action, [class: "search-form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="message message--failure">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>
  <%= text_input f, :value, placeholder: gettext("Search here"), value: @conn.assigns[:value], autofocus: true %>
  <%= error_tag f, :value %>

  <%= submit gettext("Search"), class: "button search-submit" %>
<% end %>
