<table>
  <thead>
    <tr>
      <th><%= gettext "Skill name" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for skill <- @skills do %>
    <tr>
      <td>
      <p style="word-wrap: break-word; max-width: 600px;"><%= link skill.name, to: skill_path(@conn, :show, skill) %></p>
      </td>
      <td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>