</header>

<div class="breadcrumbs">
  Users / <%= link full_name(@user), to: user_path(@conn, :show, @user), class:
  "breadcrumbs__link" %> / Edit
</div>

<div class="card-list">

  <aside>
    <%= render Vutuv.SharedView, "_ad.html" %>
  </aside>
  <section class="card">
	<%= render "form.html", changeset: @changeset,
	                        action: user_path(@conn, :update, @user), conn: @conn, current_user: @current_user, backlink: user_path(@conn, :show, @user) %>
	</section>
</div>
