<h2><%= gettext "New user" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create), current_user: @current_user %>

<%= if @current_user do %>
  <%= link gettext("Back"), to: user_path(@conn, :index) %>
<% end %>
