</header>

<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    gettext("New")]) %>
</div>

<div class="card-list">

  <aside>
    <%= render Vutuv.SharedView, "_ad.html" %>
  </aside>
  <section class="card">
    <%= render "form.html", backlink: page_path(@conn, :index), changeset: @changeset, current_user: @current_user, action: user_path(@conn, :create) %>
  </section>
</div>
