<section class="ad">
  <label><%= gettext("Ad") %></label>
  <h1>Lorem ipsum dolor</h1>
  <p>Sit amet, consectetur adipiscing elit. Phasellus venenatis porttitor
    libero, vel rutrum magna fringilla eget. Fusce metus</p>
  <a href="#">http://lorem.ipsum.com</a>
</section>