<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= assigns[:page_title] || "vutuv" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="/">vutuv</a>
          <ul class="pure-menu-list">
            <%= if @current_user do %>
              <li class="pure-menu-item"><%= link "Search for users", to: search_query_path(@conn, :index), class: "pure-menu-link" %></li>
              <li class="pure-menu-item">
                <%= if is_current_user_page?(@conn) do %>
                  <%= full_name(@current_user) %>
                <% else %>
                  <%= link to: user_path(@conn, :show, @current_user), class: "pure-menu-link" do %>
                    <%= full_name(@current_user) %>
                  <% end %>
                <% end %>
              </li>
              <li class="pure-menu-item">
                <%= link "Log out", to: session_path(@conn, :delete, @current_user), class: "pure-menu-link", method: "delete" %>
              </li>
            <% else %>
              <li class="pure-menu-item"><%= link "Search for users", to: search_query_path(@conn, :new), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link "Register", to: user_path(@conn, :new), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link "Log in", to: session_path(@conn, :new), class: "pure-menu-link" %></li>
            <% end %>
          </ul>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <div class="pure-g">
          <div class="pure-u-1-1">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>
        </div>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
