<%= if get_flash(@conn, :info) do %>
  <div class="message message--success"><p><%= get_flash(@conn, :info) %></p></div>
<% end %>
<%= if get_flash(@conn, :error) do %>
  <div class="message message--error"><p><%= get_flash(@conn, :error) %></p></div>
<% end %>