<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{assigns[:page_title]} - vutuv" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/styles.min.css") %>">
  </head>

  <body>
    <header>
      <nav class="navigation">
        <div>
          <a href="#" class="navigation__back"></a>
          <a href="/"><img src="<%= static_path(@conn, "/images/logo.svg") %>"></a>
          <a href="#" class="navigation__search"></a>
        </div>
      </nav>
    <!-- header tag ends in rendered template -->
    <%= render @view_module, @view_template, assigns %>

    <footer>

      <p>Copyright &copy; 2016 AMOOMA, MIT licensed.</p>

    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
