<div class="pure-g">
  <div class="pure-u-1-1">
    <h2><%= gettext "Edit work experience" %></h2>

    <%= render "form.html", changeset: @changeset,
                            action: user_work_experience_path(@conn, :update, @user, @work_experience) %>

    <%= link gettext("Back"), to: user_work_experience_path(@conn, :index, @user), class: "pure-button" %>
  </div>
</div>
