<div class="card">
  <h2><%= gettext "Followers" %></h2>

  <%= if @followers == [] do %>
    <p><%= gettext "No followers yet" %></p>
  <% else %>
    <%= render VutuvWeb.UserView, "_users_table.html", conn: @conn, current_user: @current_user, users: @followers %>
  <% end %>

  <span><%= link gettext("All followers"), to: Routes.user_follower_path(@conn, :index, @user) %></span><br>
</div>
