<section class="card">
  <h2><%= gettext "Email addresses" %></h2>

  <%= if @user.email_addresses == [] do %>
    <p><%= gettext "No public emails" %></p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= for email_address <- @user.email_addresses do %>
          <tr>
            <td><%= email_address.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
