<h1><%= gettext "Edit email address" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_email_address_path(@conn, :update, @current_user, @email_address)) %>

<span><%= link gettext("All email addresses"), to: Routes.user_email_address_path(@conn, :index, @current_user) %></span>
