<h1><%= gettext "New email address" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_email_address_path(@conn, :create, @current_user)) %>

<span><%= link gettext("All email addresses"), to: Routes.user_email_address_path(@conn, :index, @current_user) %></span>
