<h1>New Email address</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.email_address_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :show, @current_user) %></span>
