<h2>Edit group</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_group_path(@conn, :update, @user, @group) %>

<%= link "Back", to: user_group_path(@conn, :index, @user) %>
