<h2>Show group</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

</ul>

<%= link "Edit", to: user_group_path(@conn, :edit, @user, @group) %>
<%= link "Back", to: user_group_path(@conn, :index, @user) %>
