<h2>Show Phone Number</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @phone_number.value %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @phone_number.number_type %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @phone_number.user_id %>
  </li>

</ul>

<%= link "Edit", to: user_phone_number_path(@conn, :edit, @user, @phone_number) %>
<%= link "Back", to: user_phone_number_path(@conn, :index, @user) %>
