<h1><%= gettext "Edit email notification" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_email_notification_path(@conn, :update, @current_user, @email_notification)) %>

<span><%= link gettext("All email notifications"), to: Routes.user_email_notification_path(@conn, :index, @current_user) %></span>
