<%= form_for @changeset, @action, [class: "pure-form pure-form-stacked"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>
  
  <%= label f, :skill_id, class: "control-label" %>
  <%= text_input f, :skill_id, class: "form-control" %>
  <%= error_tag f, :skill_id %>

  <%= submit gettext("Submit"), class: "pure-button pure-button-primary" %>
<% end %>
