<%= form_for @conn, @action, [as: :skill_param, class: "pure-form pure-form-stacked"], fn f -> %>
  
  <%= label f, :name, class: "control-label" %>
  <%= text_input f, :name, class: "form-control" %>
  <%= error_tag f, :name %>

  <%= submit gettext("Submit"), class: "pure-button pure-button-primary" %>
<% end %>
