<%= form_for @conn, @action, [as: :skill_param, class: "editform", method: "post"], fn f -> %>
  <div class="editform__field<%= if error_tag(f, :name), do: " editform__field--error"%>">
    <%= label f, :name%>
    <%= text_input f, :name, autofocus: true %>
    <%= error_tag f, :name %>
  </div>

  <div class="editform__actions">
    <%= link gettext("Cancel"), to: @backlink, class: "button button--cancel" %>
    <%= submit gettext("Add"), class: "button" %>
  </div>
<% end %>
