<div class="card">
  <h2><%= gettext "Tags" %></h2>

  <ul class="tags">
    <%= for user_tag <- @user_tags do %>
      <li>
          <%= user_tag.tag.name %>
          <%= Vutuv.Tags.user_tag_endorsements_count(user_tag) %>
      </li>
    <% end %>
  </ul>
</div>
