<h1><%= gettext "Edit address" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_address_path(@conn, :update, @current_user, @address)) %>

<span><%= link gettext("All addresses"), to: Routes.user_address_path(@conn, :index, @current_user) %></span>
