<h1>Edit Profile</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.profile_path(@conn, :update, @profile)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :show, @current_user) %></span>
