<%= form_for @conn, admin_slug_path(@conn, :update), [as: :slug_disable, multipart: true, class: "editform"], fn f -> %>

  <div class="editform__field<%= if error_tag(f, :value), do: " editform__field--error"%>">
    <%= label f, :slug_name %>
    <%= text_input f, :value %>
    <%= error_tag f, :value %>
  </div>

    <%= submit gettext("Disable"), class: "button" %>
<% end %>
