/* --------------------------------------------------------------
  Breakpoints
----------------------------------------------------------------*/
/* --------------------------------------------------------------
  Sizes
----------------------------------------------------------------*/
/* --------------------------------------------------------------
  Colors
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.icon {
  font-size: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  float: left;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain; }

.icon--upvote {
  background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2016%2016%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EUpvote%3C%2Ftitle%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20fill%3D%27%23EEE%27%20width%3D%2716%27%20height%3D%2716%27%20rx%3D%273.636%27%2F%3E%3Cpath%20d%3D%27M12.343%208.48c.207-.237.31-.518.31-.84%200-.295-.107-.55-.32-.763-.216-.215-.47-.322-.763-.322h-1.563c.015-.052.03-.098.045-.135.015-.038.036-.08.062-.124l.056-.102c.068-.128.12-.233.156-.316.035-.083.07-.196.107-.34.036-.14.053-.285.053-.427%200-.09%200-.163-.002-.22-.002-.056-.012-.14-.03-.254-.016-.112-.038-.206-.066-.282-.03-.075-.074-.16-.136-.254-.062-.094-.137-.17-.226-.228-.088-.058-.2-.107-.338-.147-.138-.04-.293-.06-.466-.06-.098%200-.182.037-.254.108-.075.075-.14.17-.192.282-.052.113-.09.21-.11.294-.02.082-.044.196-.07.343-.034.158-.06.272-.077.34-.018.07-.05.162-.1.275-.048.113-.107.203-.174.27-.124.125-.314.35-.57.678-.185.24-.375.468-.57.683-.196.213-.34.324-.43.332-.093.007-.174.046-.242.116s-.1.15-.1.245v3.617c0%20.098.034.182.106.25.07.07.156.108.254.11.13.005.43.088.89.25.29.098.518.172.68.223.165.05.394.105.687.163.294.06.565.088.813.088H10.49c.502-.008.872-.154%201.113-.44.218-.26.31-.6.277-1.022.146-.14.248-.316.304-.53.064-.23.064-.45%200-.66.173-.23.254-.487.243-.773%200-.122-.028-.265-.084-.43zM5.61%207.278H3.985c-.098%200-.182.035-.254.107-.07.07-.106.156-.106.254v3.61c0%20.098.036.183.107.254.073.072.157.108.255.108H5.61c.098%200%20.183-.036.254-.108.072-.07.108-.156.108-.253V7.64c0-.1-.036-.184-.108-.255-.07-.072-.156-.107-.254-.107z%27%20fill%3D%27%23777%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}
.icon--upvote-remove {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20fill%3D%27%234A90E2%27%20width%3D%2716%27%20height%3D%2716%27%20rx%3D%273.636%27%2F%3E%3Cpath%20d%3D%27M10.043%209.854c.173-.197.26-.43.26-.7%200-.245-.09-.457-.27-.635-.178-.18-.39-.27-.634-.27H8.096c.012-.043.025-.08.037-.112.013-.032.03-.066.052-.104.022-.037.037-.066.047-.084.056-.107.1-.195.13-.264.03-.07.06-.163.09-.282.028-.12.043-.238.043-.357%200-.076%200-.137-.002-.184-.002-.047-.01-.117-.024-.21-.014-.095-.033-.174-.056-.236-.024-.063-.06-.134-.113-.212-.05-.08-.113-.142-.187-.19-.074-.05-.168-.09-.282-.123-.114-.033-.243-.05-.387-.05-.082%200-.152.03-.212.09-.062.063-.115.14-.16.235-.043.094-.073.176-.09.245-.018.07-.037.164-.06.287l-.063.283c-.014.058-.042.134-.082.228-.04.095-.09.17-.146.227-.104.103-.263.292-.476.564-.154.202-.312.392-.475.57-.164.18-.283.272-.358.278-.08.006-.146.038-.203.096-.057.058-.085.126-.085.205v3.013c0%20.082.03.15.09.21.06.057.13.088.21.09.11.004.358.073.744.208.24.083.43.145.565.187.137.042.327.088.572.136.244.05.47.073.677.073H8.5c.418-.006.726-.128.927-.367.182-.217.258-.5.23-.852.123-.116.207-.263.254-.442.055-.19.055-.374%200-.55.145-.19.213-.406.203-.644%200-.1-.023-.22-.07-.358zM4.433%208.853H3.08c-.083%200-.154.03-.213.09-.06.06-.09.13-.09.21v3.01c0%20.082.03.152.09.212s.13.09.212.09h1.353c.08%200%20.152-.03.212-.09s.09-.13.09-.212v-3.01c0-.08-.03-.15-.09-.21s-.13-.09-.212-.09zM11.92%205.025l1.34-1.34-.417-.417-1.34%201.34-1.335-1.334-.416.417%201.334%201.335-1.34%201.34.416.417%201.34-1.34%201.335%201.334.416-.416%27%20fill%3D%27%23FFF%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--follow {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2016%2016%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EArtboard%3C%2Ftitle%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20fill%3D%27%23EEE%27%20width%3D%2716%27%20height%3D%2716%27%20rx%3D%273.636%27%2F%3E%3Cpath%20d%3D%27M6.545%209.225c.567%200%201.05-.2%201.452-.602.4-.4.6-.884.6-1.45%200-.568-.2-1.052-.6-1.453-.4-.4-.885-.6-1.452-.6-.566%200-1.05.2-1.45.6-.402.4-.603.885-.603%201.452s.2%201.05.602%201.45c.4.402.885.603%201.45.603z%27%20fill%3D%27%23777%27%2F%3E%3Cpath%20d%3D%27M10.29%2011.393c-.012-.18-.037-.375-.075-.583-.037-.21-.084-.402-.14-.58-.058-.178-.135-.352-.23-.52-.097-.17-.208-.315-.333-.434-.125-.12-.277-.215-.457-.286-.18-.072-.38-.107-.596-.107-.033%200-.108.038-.225.115-.118.076-.25.162-.4.256-.147.095-.34.18-.576.257-.238.077-.476.116-.715.116-.24%200-.476-.04-.713-.115-.237-.076-.43-.16-.578-.256-.148-.094-.28-.18-.398-.256-.118-.077-.193-.115-.225-.115-.216%200-.415.035-.595.107-.18.07-.332.166-.457.286-.125.12-.235.263-.33.433-.097.168-.174.342-.23.52-.058.178-.105.37-.143.58-.037.208-.062.403-.075.583-.012.18-.018.364-.018.553%200%20.428.13.765.39%201.013.26.247.606.37%201.037.37H8.88c.43%200%20.777-.123%201.037-.37.26-.25.39-.586.39-1.014%200-.19-.007-.373-.02-.553zM11.797%204.73V2.836h-.59V4.73H9.322v.59h1.888v1.896h.59V5.32h1.886v-.59%27%20fill%3D%27%23777%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--unfollow {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2016%2016%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EArtboard%3C%2Ftitle%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20fill%3D%27%234E91DE%27%20width%3D%2716%27%20height%3D%2716%27%20rx%3D%273.636%27%2F%3E%3Cpath%20d%3D%27M6.545%209.225c.567%200%201.05-.2%201.452-.602.4-.4.6-.884.6-1.45%200-.568-.2-1.052-.6-1.453-.4-.4-.885-.6-1.452-.6-.566%200-1.05.2-1.45.6-.402.4-.603.885-.603%201.452s.2%201.05.602%201.45c.4.402.885.603%201.45.603z%27%20fill%3D%27%23FFF%27%2F%3E%3Cpath%20d%3D%27M10.29%2011.393c-.012-.18-.037-.375-.075-.583-.037-.21-.084-.402-.14-.58-.058-.178-.135-.352-.23-.52-.097-.17-.208-.315-.333-.434-.125-.12-.277-.215-.457-.286-.18-.072-.38-.107-.596-.107-.033%200-.108.038-.225.115-.118.076-.25.162-.4.256-.147.095-.34.18-.576.257-.238.077-.476.116-.715.116-.24%200-.476-.04-.713-.115-.237-.076-.43-.16-.578-.256-.148-.094-.28-.18-.398-.256-.118-.077-.193-.115-.225-.115-.216%200-.415.035-.595.107-.18.07-.332.166-.457.286-.125.12-.235.263-.33.433-.097.168-.174.342-.23.52-.058.178-.105.37-.143.58-.037.208-.062.403-.075.583-.012.18-.018.364-.018.553%200%20.428.13.765.39%201.013.26.247.606.37%201.037.37H8.88c.43%200%20.777-.123%201.037-.37.26-.25.39-.586.39-1.014%200-.19-.007-.373-.02-.553zM11.92%205.025l1.34-1.34-.417-.417-1.34%201.34-1.335-1.334-.416.417%201.334%201.335-1.34%201.34.416.417%201.34-1.34%201.335%201.334.416-.416%27%20fill%3D%27%23FFF%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--plus {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2016%2016%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3E%2B%3C%2Ftitle%3E%3Cpath%20d%3D%27M9.333%206.667V0H6.667v6.667H0v2.666h6.667V16h2.666V9.333H16V6.667%27%20fill%3D%27%23FFF%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}
.icon--minus {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2711%27%20height%3D%2711%27%20viewBox%3D%270%200%2011%2011%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3E%2B%3C%2Ftitle%3E%3Cpath%20d%3D%27M6.812%205.72l4.05-4.05L9.6.406l-4.05%204.05L1.503.408.245%201.666l4.047%204.047-4.05%204.05%201.263%201.262%204.05-4.05%204.047%204.047%201.257-1.257%27%20fill%3D%27%23FFF%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}
.icon--edit {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cg%20fill%3D%27%234A90E2%27%20fill-rule%3D%27evenodd%27%3E%3Cpath%20d%3D%27M15.07.93c-.58-.584-1.283-.876-2.104-.876H3.034C2.214.054%201.51.346.93.93.345%201.51.053%202.212.053%203.033v9.932c0%20.82.292%201.523.875%202.105.58.584%201.283.876%202.104.876h9.932c.82%200%201.523-.292%202.105-.875.584-.58.875-1.283.875-2.104V3.034c0-.82-.29-1.523-.874-2.105zM5.684%2013.296h-2.98v-2.98L8.33%204.69l2.98%202.98-5.627%205.627zm7.242-7.242l-.952.952-2.98-2.98.952-.952c.193-.193.427-.29.704-.29.274%200%20.51.097.702.29l1.573%201.573c.193.193.29.428.29.703%200%20.277-.097.512-.29.705z%27%2F%3E%3Cpath%20d%3D%27M3.696%2010.73v.58h.993v.994h.58l.537-.538-1.573-1.573M5.196%209.2c-.117.117-.127.22-.03.31.09.097.192.087.31-.03l3.01-3.01c.118-.118.128-.222.03-.312-.088-.096-.192-.086-.31.03L5.197%209.2z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--delete {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20fill%3D%27%23FF7061%27%20width%3D%2716%27%20height%3D%2716%27%20rx%3D%273%27%2F%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M2%204l2-2%2010%2010-2%202z%27%2F%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M12%202l2%202L4%2014l-2-2z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--menu {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2718%27%20height%3D%2718%27%20viewBox%3D%270%200%2018%2018%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3Emenu%3C%2Ftitle%3E%3Cg%20fill%3D%27%231A1919%27%20fill-rule%3D%27evenodd%27%3E%3Cpath%20d%3D%27M0%203h18v2H0zM0%2013h18v2H0zM0%208h18v2H0z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}
.icon--lock {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2718%27%20height%3D%2718%27%20viewBox%3D%270%200%2018%2018%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EArtboard%3C%2Ftitle%3E%3Cpath%20d%3D%27M15.66%208.54c-.227-.24-.503-.358-.827-.358h-.39V5.727c0-1.568-.533-2.914-1.603-4.04C11.77.564%2010.49%200%209%200%207.51%200%206.23.563%205.16%201.688c-1.07%201.125-1.605%202.47-1.605%204.04V8.18h-.388c-.324%200-.6.12-.827.358-.227.238-.34.528-.34.87v7.363c0%20.34.113.63.34.87.227.238.503.357.827.357h11.666c.325%200%20.6-.12.827-.358.226-.24.34-.528.34-.87V9.41c0-.342-.114-.632-.34-.87zm-3.55-.358H5.89V5.727c0-.903.303-1.675.91-2.314.608-.64%201.34-.958%202.2-.958.86%200%201.592.32%202.2.958.607.64.91%201.41.91%202.314v2.455z%27%20fill%3D%27%23000%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}
.icon--back {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2711%27%20height%3D%2718%27%20viewBox%3D%270%200%2011%2018%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EShape%3C%2Ftitle%3E%3Cpath%20d%3D%27M3.228%209l7.09-7.088c.12-.12.18-.26.18-.415%200-.156-.06-.295-.18-.415L9.414.18C9.295.06%209.155%200%209%200c-.156%200-.295.06-.415.18L.18%208.585C.06%208.705%200%208.845%200%209c0%20.156.06.295.18.415l8.405%208.405c.12.12.258.18.415.18.156%200%20.294-.06.414-.18l.902-.902c.12-.12.18-.258.18-.415%200-.156-.06-.294-.18-.415L3.228%209z%27%20fill%3D%27%23000%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}
.icon--search {
  background-image:url(data:image/svg+xml,%3Csvg%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Ctitle%3EArtboard%3C%2Ftitle%3E%3Cpath%20d%3D%27M18.6%2016.642l-3.71-3.71c.894-1.29%201.34-2.73%201.34-4.316%200-1.032-.2-2.018-.6-2.96-.4-.94-.94-1.75-1.622-2.433C13.326%202.54%2012.515%202%2011.574%201.6c-.94-.4-1.927-.6-2.96-.6-1.03%200-2.016.2-2.957.6-.94.4-1.753.94-2.434%201.623C2.54%203.905%202%204.716%201.6%205.657c-.4.94-.6%201.927-.6%202.96%200%201.03.2%202.016.6%202.957.4.94.94%201.752%201.623%202.434.68.682%201.493%201.222%202.434%201.623.94.4%201.927.6%202.958.6%201.587%200%203.026-.446%204.317-1.34l3.71%203.7c.26.273.584.41.973.41.375%200%20.7-.137.974-.41.273-.275.41-.6.41-.975%200-.382-.133-.706-.4-.973zm-6.56-4.603c-.95.948-2.09%201.422-3.425%201.422-1.334%200-2.475-.475-3.423-1.423-.95-.95-1.423-2.09-1.423-3.425%200-1.334.474-2.475%201.422-3.423.948-.95%202.09-1.423%203.423-1.423%201.335%200%202.476.474%203.424%201.422s1.422%202.09%201.422%203.423c0%201.335-.475%202.476-1.423%203.424z%27%20fill%3D%27%231A1919%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}
.icon--forward {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2711%27%20height%3D%2718%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M7.336%208.924L.306%201.896a.565.565%200%200%201%200-.823L1.202.18a.566.566%200%200%201%20.41-.18.57.57%200%200%201%20.412.18l8.334%208.333a.565.565%200%200%201%200%20.823L2.024%2017.67a.565.565%200%200%201-.823%200l-.893-.894a.566.566%200%200%201%200-.823l7.03-7.03z%27%20fill%3D%27%23DDD%27%20fill-rule%3D%27evenodd%27%2F%3E%3C%2Fsvg%3E)
}

body {
  color: #1A1919;
  font-family: 'Helvetica','Georgia', 'Arial', sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px; }

p {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 15px; }

strong {
  font-weight: bold; }

a, button{
  color: #4A90E2;
  text-decoration: none; }

.link_button{
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

.delete_link_button{
  color: #cc0000; 
}

.delete_link_button:hover{
  color: #ff0000; 
}

.link_button_form{
  text-align: center;
}

/* --------------------------------------------------------------
  BUTTONS
----------------------------------------------------------------*/
.button {
  cursor: pointer;
  border: 0;
  background: #4A90E2;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  padding: 8px 10px;
  position: relative;
  text-align: center; }
  .button:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .button .icon {
    font-size: 0.9em;
    margin-right: 0.5em; }

.button--full {
  width: 100%;
}

.button--big {
  font-size: 15px;
  font-weight: bold;
  height: 44px; }

.button--unfollow {
  background-color: #eee;
  color: #444;
}

.button--cancel {
  padding-top: 15px;
  background-color: #eee;
  color: #444; }

.button--icon {
  font-size: 22px;
  background-color: transparent;
  line-height: normal;
  padding: 0; }
  .button--icon .icon {
    font-size: 1em;
    margin: 0; }

.button--small {
  font-size: 16px; }

@media all and (min-width: 940px) {
  .button {
    font-size: 18px; }
  .button--icon {
    font-size: 26px; }
  .button--small {
    font-size: 16px; } }

dl {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0; }

p + dl {
  border-top: 1px solid #eee; }

dt, dd {
  border-top: 1px solid #eee;
  color: #444;
  display: inline-block;
  font-size: 14px;
  min-height: 14px;
  padding-top: 15px;
  vertical-align: top; }
  dt:first-of-type, dd:first-of-type {
    border: 0;
    margin-top: 0; }

dt {
  min-width: 25%; }

dd {
  min-width: 75%;
  max-width: 100%;
  display: inline-block;
  font-weight: 700;
  text-align: right;
  margin-bottom: 15px; }
  dd a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

dl.email-list {
  text-align: left;
  margin: 15px 0;
}
dl.email-list dt,
dl.email-list dd {
  text-align: left;
  padding: 5px 0 0 0;
  margin: 5px 0;
  min-height: 0;
  display: block;
}
dl.email-list dt {
  margin: 15px 0;
}

.button-list li {
  display: flex;
  position: relative;
  border-bottom: 1px solid #eee; }
  .button-list li:last-of-type {
    border: 0; }

.button-list .button {
  margin: auto 0 auto auto; }

table {
  font-size: 14px;
  width: 100%;
  margin: 20px 0; }

th {
  color: #444;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-align: left;
  padding: 5px 0; }

td {
  padding: 10px 0;
  border-bottom: 1px solid #eee; }
  td:last-child {
    text-align: right; }

td a + a {
  margin-left: 10px; }

input:not([type="checkbox"]), textarea {
  box-sizing: border-box;
  vertical-align: bottom;
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0; }

[type="text"],
[type="email"],
[type="tel"],
[type="date"],
textarea {
  font-family: 'Helvetica', 'Arial', sans-serif;
  border: 1px solid #ddd;
  font-size: 15px;
  padding-left: 10px; }

textarea {
  padding: 10px;
  min-height: 100px;
  resize: vertical;  }

[type="text"],
[type="email"],
[type="tel"],
[type="date"] {
  height: 44px; }

[type="submit"]:not(.button-link, .btn-icon){
  height: 44px; }


input[type="submit"] {
  border: 0; }

label {
  color: #444;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 4px;
  font-weight: bold;
  display: block; }

select {
  background: #fff;
  border-radius: 0;
  border-color: #ccc;
  box-sizing: border-box;
  font-size: 15px;
  height: 44px;
  padding: 0 10px;
  width: 100%; 
}

.select {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2744%27%20height%3D%2744%27%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M0%200h44v44H0z%27%2F%3E%3Cpath%20fill%3D%27%231A1918%27%20d%3D%27M22%2027l-7-8h14%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat right center; }

::-webkit-input-placeholder {
  color: #777; }

::-moz-placeholder {
  color: #777; }

:-ms-input-placeholder {
  color: #777; }

:-moz-placeholder {
  color: #777; }

.message {
  animation: fixMessage 0s ease-in 0s forwards; }
  .message p {
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    min-height: 50px;
    margin: 0;
    padding: 16px;
    text-align: center;
    animation: messageHide 0.3s ease-in 6s forwards; }

.message--success {
  background-color: #5FD790; }
  .message--success p {
    border-color: #2aa65d; }

.message--warning {
  background-color: #FECD51; }
  .message--warning p {
    border-color: #e8a601; }

.message--error {
  background-color: #FF7061; }
  .message--error p {
    border-color: #fa1800; }

@keyframes fixMessage {
  to {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%; } }

@keyframes messageHide {
  to {
    opacity: 0;
    padding: 0;
    height: 0px;
    min-height: 0;
    overflow: hidden;
    margin-top: -2px; } }

html {
  height: 100%; }

body {
  position: relative;
  min-height: calc(100% - 50px);
  padding-bottom: 50px;
  background: #eee; }

header {
  background: #fff;
  flex-grow: 0;
  border-bottom: 2px solid #ddd; }

/* This makes all content blocks between the header and footer to
  stretch to fill at least the full height. */
body.stretch {
  display: flex;
  flex-flow: column; }
  body.stretch header {
    max-height: 55px; }
  body.stretch footer {
    max-height: 50px; }
  body.stretch > * {
    flex-grow: 1; }

.screenreader {
  position: absolute;
  left: -3000px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.navigation div {
  box-sizing: border-box;
  display: flex;
  height: 55px;
  margin: auto;
  max-width: 620px;
  padding: 0 10px;
  text-align: center; }

.navigation a {
  flex-grow: 1; }

.navigation img {
  margin-top: 11px;
  height: 28px;
  width: 108px; }

.navigation__icon {
  font-size: 20px;
  display: block;
  height: 55px;
  display: flex;
  align-items: center; }
  .navigation__icon i {
    position: relative;
    overflow: visible; }
  .navigation__icon i[title] {
    font-size: 18px;
    margin-top: -6px; }
  .navigation__icon i:after {
    content: attr(title);
    font-size: 10px;
    color: #1A1919;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; }

.navigation__icon--right {
  justify-content: flex-end; }

@media all and (min-width: 450px) {
  .navigation div {
    padding: 0 20px; } }

@media all and (min-width: 940px) {
  .navigation div {
    max-width: 920px; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  color: #777;
  display: flex;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  footer p {
    font-size: 12px;
    line-height: 15px;
    padding: 0 40px;
    margin-bottom: 0px; }

.breadcrumbs {
  box-sizing: border-box;
  color: #777;
  font-size: 14px;
  padding: 18px 10px 0px 10px;
  max-width: 620px;
  margin: auto; }

.breadcrumbs__link {
  color: #444; }

@media all and (min-width: 450px) {
  .breadcrumbs {
    padding: 18px 20px 0 20px; } }

@media all and (min-width: 940px) {
  .breadcrumbs {
    max-width: 920px; } }

.search-form {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  margin: 10px auto 15px auto;
  max-width: 620px; }
  .search-form input {
    flex: 1; }
    .search-submit{
      max-width: 100px;
      background: #4A90E2;
      color: #FFF;
      font-size: 18px;
      font-weight: bold;}

@media all and (min-width: 450px) {
  .search-form {
    padding: 0 20px; } }

@media all and (min-width: 940px) {
  .search-form {
    max-width: 920px; } }

.profile-header {
  box-sizing: border-box;
  padding: 15px 20px 20px 20px;
  text-align: center;
  max-width: 620px;
  margin: auto; }
  .profile-header h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 2px;
    margin-top: 5px; }
  .profile-header h2 {
    color: #777;
    font-size: 15px;
    margin-bottom: 8px; }

.profile-header__image img {
  width: 100px;
  height: 100px; }

.profile-header__followstatus em {
  color: #4A90E2;
  border-left: 1px solid #ddd;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
  padding-left: 8px;
  margin-bottom: 4px;
  margin-top: 0px; }

.profile-header__followstatus h3 {
  color: #777;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  text-align: left; }
  .profile-header__followstatus h3 span {
    display: none;
    font-size: 13px; }

.profile-header--verified .profile-header__image {
  position: relative;
  margin-bottom: 16px; }

.profile-header--verified .profile-header__image::after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2790%27%20height%3D%2722%27%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20width%3D%2790%27%20height%3D%2722%27%20fill%3D%27%234ACA7E%27%20rx%3D%2711%27%2F%3E%3Ctext%20fill%3D%27%23FFF%27%20font-family%3D%27Helvetica%27%20font-size%3D%2711%27%3E%3Ctspan%20x%3D%2728.135%27%20y%3D%2715%27%3EVERIFIED%3C%2Ftspan%3E%3C%2Ftext%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M18.23%208.075l-.952-.952a.648.648%200%200%200-.476-.196.648.648%200%200%200-.476.196l-4.593%204.6-2.06-2.065a.648.648%200%200%200-.475-.196.648.648%200%200%200-.476.196l-.952.952a.648.648%200%200%200-.196.476c0%20.187.065.345.196.476l2.534%202.535.953.952c.13.13.29.195.476.195a.65.65%200%200%200%20.476-.196l.95-.953%205.07-5.07a.648.648%200%200%200%20.196-.476.648.648%200%200%200-.196-.475z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  width: 90px;
  height: 22px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -45px; }

@media all and (min-width: 450px) {
  .profile-header {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px; }
    .profile-header h1 {
      font-size: 28px;
      line-height: 33px; }
    .profile-header h2 {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 16px; }
  .profile-header__image, .profile-header__info {
    flex: 1; }
  .profile-header--verified .profile-header__image {
    margin-bottom: 0; }
  .profile-header__image {
    margin-right: 30px;
    max-width: 130px; }
    .profile-header__image img {
      width: 130px;
      height: 130px;
      vertical-align: top; }
  .profile-header__followstatus em {
    margin-top: -6px; } }

@media all and (min-width: 940px) {
  .profile-header {
    max-width: 920px; }
  .profile-header--verified .profile-header__image::after {
    display: none; }
  .profile-header--verified .profile-header__info h2::after {
    content: "";
    display: block;
    font-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2790%27%20height%3D%2722%27%3E%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20width%3D%2790%27%20height%3D%2722%27%20fill%3D%27%234ACA7E%27%20rx%3D%2711%27%2F%3E%3Ctext%20fill%3D%27%23FFF%27%20font-family%3D%27Helvetica%27%20font-size%3D%2711%27%3E%3Ctspan%20x%3D%2728.135%27%20y%3D%2715%27%3EVERIFIED%3C%2Ftspan%3E%3C%2Ftext%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M18.23%208.075l-.952-.952a.648.648%200%200%200-.476-.196.648.648%200%200%200-.476.196l-4.593%204.6-2.06-2.065a.648.648%200%200%200-.475-.196.648.648%200%200%200-.476.196l-.952.952a.648.648%200%200%200-.196.476c0%20.187.065.345.196.476l2.534%202.535.953.952c.13.13.29.195.476.195a.65.65%200%200%200%20.476-.196l.95-.953%205.07-5.07a.648.648%200%200%200%20.196-.476.648.648%200%200%200-.196-.475z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    width: 90px;
    height: 22px;
    margin-top: 8px; }
  .profile-header__info h2 {
    margin-bottom: 4px; }
  .profile-header__followstatus {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%); }
    .profile-header__followstatus h3 {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: right; }
      .profile-header__followstatus h3 span {
        display: block; }
    .profile-header__followstatus em {
      border: 0;
      margin-top: 0px; } }

/* snipped .card-stuff here */

.imagebox {
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: calc(100% - 55px);
  justify-content: center;
  text-align: center; }
  .imagebox h1 {
    padding-top: 10px;
    font-size: 21px; }
  .imagebox h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 19px; }
  .imagebox p, .imagebox a {
    font-size: 14px; }
  .imagebox h2, .imagebox p {
    color: #444; }

.imagebox__card {
  max-width: 600px;
  margin: 100px 15px;
  padding: 20px; }

.imagebox__intro, .imagebox__form {
  max-width: 430px;
  margin: auto; }

.imagebox__form {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px; }

.imagebox__input[type="submit"] {
  background-color: #4A90E2;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.imagebox__input, .imagebox__select {
  width: 100%; }
  .imagebox__input + .imagebox__label, .imagebox__input + .imagebox__input, .imagebox__select + .imagebox__label, .imagebox__select + .imagebox__input {
    margin-top: 11px; }

.imagebox__input--error, .imagebox__select--error select {
  border-color: #FF7061; }

.imagebox__label {
  text-align: left; }

.imagebox__error {
  color: #FF7061;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 11px;
  text-align: left; }

.imagebox__alreadymember {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  line-height: 44px; }

@media all and (min-width: 450px) {
  .imagebox__card {
    padding-top: 40px;
    padding-bottom: 50px; } }

.skills {
  font-size: 14px;
  font-weight: 700;
  color: #444; }
  .skills em {
    color: #4A90E2;
    display: block;
    font-size: 11px;
    font-weight: 400;
    margin-top: 3px; }
  .skills hr {
    background: #4A90E2;
    border: 0;
    bottom: -1px;
    height: 1px;
    left: 0;
    margin: 0;
    position: absolute; }
  .skills li {
    display: flex;
    height: 50px;
    width: 100%; }
  .skills span {
    margin: auto 0; }

.job {
  border-bottom: 1px solid #eee;
  font-size: 0;
  padding: 12px 0; }
  .job:last-child {
    border: 0; }

.job__title {
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px; }

.job__organization {
  color: #444;
  width: 60%; }

.job__date {
  color: #777;
  text-align: right;
  width: 40%; }

.job__organization,
.job__date {
  font-size: 12px;
  display: inline-block; }

.job__edit {
  float: right; }

.profiles li {
  display: flex;
  height: 69px;
  align-items: center; }
  .profiles li div {
    width: 50px;
    height: 50px;
    margin-right: 20px; }
  .profiles li img {
    width: 100%;
    height: 100%; }
  .profiles li p {
    color: #777;
    flex: 1;
    font-size: 12px;
    margin: 0; }
  .profiles li strong {
    color: #444;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1px;
    line-height: normal; }

.profile-image {
  position: relative; }
  .profile-image img {
    border-radius: 50%; }

.profile-image__badge {
  background: #4A90E2;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  position: absolute;
  right: 0; }

.ad {
  background: #fff;
  padding: 15px 20px;
  margin-top: 0;
  position: relative; }
  .ad * {
    font-size: 13px;
    line-height: 17px; }
  .ad label {
    color: #444;
    font-size: 10px;
    margin-bottom: 5px; }
  .ad p {
    margin-bottom: 6px; }
  .ad h1 {
    margin-bottom: 0; }

.ad__link {
  font-weight: bold; }

.ad__advetiser-info {
  position: absolute;
  font-size: 11px;
  right: 20px;
  top: 15px;
  text-align: right;
  width: 100%; }

.editform__field {
  margin-bottom: 15px;
  width: 100%; }
  .editform__field input, .editform__field textarea, .editform__field select {
    width: 100%; }

.editform__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%; }
  .editform__wrap .editform__field {
    flex: 1;
    max-width: 48%; }

.editform__field--error input, .editform__field--error textarea, .editform__field--error select {
  border-color: #FF7061; }

.editform__inputwrap {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  padding: 0 12px;
  background: #eee; }

.editform__smallwrap {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 44px; }

.editform__error {
  color: #FF7061;
  font-size: 12px;
  font-weight: bold; }

.editform__border-top {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5px;}

.editform__actions {
  border-top: 1px solid #eee;
  padding: 15px 10px;
  width: 100%;
  margin-left: -10px;
  margin-top: 5px;
  display: flex; }
  .editform__actions a {
    flex: 1;
    text-align: center;
    vertical-align: baseline;
    margin-right: 10px; }
  .editform__actions input {
    flex: 2; }
