<div class="pure-g">
  <div class="pure-u-1-1">
    <h2><%= gettext "Show o auth provider" %></h2>

    <ul>
    
    </ul>

    <%= link gettext("Edit"), to: user_o_auth_provider_path(@conn, :edit, @conn.assigns[:current_user], @o_auth_provider), class: "pure-button" %>
    <%= link gettext("Back"), to: user_o_auth_provider_path(@conn, :index, @conn.assigns[:current_user]), class: "pure-button" %>
  </div>
</div>
