<section class="card">
  <h2><%= gettext "Following" %></h2>

  <%= if @followees == [] do %>
    <p><%= gettext "Not following any user yet" %></p>
  <% else %>
    <%= render VutuvWeb.UserView, "_users_table.html", conn: @conn, current_user: @current_user, user: @user, users: @followees %>
  <% end %>

  <span><%= link gettext("All following"), to: Routes.user_followee_path(@conn, :index, @user) %></span><br>
<section class="card">
