<h2><%= full_name(@connection.follower) %> <%= gettext("follows") %> <%= full_name(@connection.followee) %></h2>

<%= unless Enum.empty?(@connection.groups) do %>
  <h3>Groups</h3>
  <ul>
    <%= for group <- @connection.groups do %>
    <li><%= group.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link "Memberships", to: connection_membership_path(@conn, :index, @connection) %>
