<h2>Show connection</h2>

<ul>

  <li>
    <strong>Follower:</strong>
    <%= @connection.follower_id %>
  </li>

  <li>
    <strong>Followee:</strong>
    <%= @connection.followee_id %>
  </li>

</ul>

<%= link "Edit", to: connection_path(@conn, :edit, @connection) %>
<%= link "Back", to: connection_path(@conn, :index) %>
