<table>
  <thead>
    <tr>
      <th><%= gettext "Tag name" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for tag <- @tags do %>
    <tr>
      <td>
      <p style="word-wrap: break-word; max-width: 600px;"><%= link Vutuv.Tag.resolve_name(tag, @conn.assigns.locale), to: tag_path(@conn, :show, tag) %></p>
      </td>
      <td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>