
  <div class="profile-header">
    <div class="profile-header__info">
      <h1><%= @loc.name %></h1>
    </div>
  </div>
</header>
<%= render Vutuv.LayoutView, "flash.html", assigns %>

<div class="breadcrumbs">
<%= Vutuv.UserHelpers.gen_breadcrumbs([
      {gettext("Tags"), tag_path(@conn, :index)},
      gettext("Show")]) %>
</div>

<div class="card-list">
    <%= render "single_card.html", assigns %>
</div>
