<h2>Show membership</h2>

<ul>

  <li>
    <strong>Connection:</strong>
    <%= @membership.connection_id %>
  </li>

  <li>
    <strong>Group:</strong>
    <%= @membership.group_id %>
  </li>

</ul>
