<h2>Show User</h2>

<p>User ID: <%= @id %></p>
<%= for email_address <- @email_addresses do %>
  <tr>
      <td><%= email_address %></td>
  </tr>
<% end %>

<span><%= link "Edit_email", to: Routes.email_address_path(@conn, :edit, @user) %></span><br>


<span><%= link "New Email address", to: Routes.email_address_path(@conn, :new) %></span>
