<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vutuv social network</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
              <li><%= link gettext("Users"), to: Routes.user_path(@conn, :index) %></li>
              <%= if @current_user do %>
                <li><%= link gettext("My profile"), to: Routes.user_path(@conn, :show, @current_user) %></li>
                <li><%= link gettext("Logout"), to: Routes.session_path(@conn, :delete, current_session(@conn)), method: :delete %></li>
              <% else %>
                <li><%= link gettext("New user"), to: Routes.user_path(@conn, :new) %></li>
                <li><%= link gettext("Login"), to: Routes.session_path(@conn, :new) %></li>
              <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
      <div class="container">
        <ul>
          <li><a href="#"><%= gettext "About" %></a></li>
          <li><a href="#"><%= gettext "Data privacy" %></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
