<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for post <- @user.posts do %>
      <tr>
        <td><%= post.title %></td>
        <%= if @current_user && @current_user.id == @user.id do %>
          <td><%= link gettext("Edit post"), to: Routes.user_post_path(@conn, :edit, @user, post) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
