<h1><%= gettext "Edit post" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_post_path(@conn, :update, @current_user, @post)) %>

<span><%= link gettext("Back"), to: Routes.user_path(@conn, :show, @current_user) %></span>
