<h1><%= gettext "New post" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_post_path(@conn, :create, @current_user)) %>

<span><%= link gettext("All posts"), to: Routes.user_post_path(@conn, :index, @current_user) %></span>
