<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Vutuv" %></h1>
</section>

<section class="container">
  <h2><%= gettext "Vutuv2" %></h2>
  <h3>A secure and Fast business network</h3>
</section>
